.menu_bar {
	position: fixed;
    top: 0;
    left: 0;
    height: 100%;
	background-color: #CCC;
	text-align: center;
}

.menu_bar a,
.menu_bar a:active,
.menu_bar a:link,
.menu_bar a:visited {
	text-decoration: none;
}

.menu_option,
.menu_option:link,
.menu_option:visited,
.menu_option:active {
    position: relative;
    display: block;
    margin: 0px;
    padding: 10px 0px;
    width: 100px;
    border-bottom: 1px solid #CCC;
    background-color: #4CAF50;
    color: white;
    font-size: 1.0em;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.menu_option:hover {
    background-color: #3e8e41;
}

.menu_option img {
    width: 35px;
    -webkit-filter: brightness(0%) invert(100%);
    filter: brightness(0%) invert(100%);
}
.menu_option img,
.fa-1x,
.fa-2x,
.fa-3x {
    font-size: 2em;
    margin-bottom: 7px;
}

.sub_menu {
    display: none;
    position: absolute;
	margin-top: -55px;
    min-width: 250px;
    background-color: #f9f9f9;
    z-index: -1;
	font-size: 1.1em;
	text-align: left;
	border: 1px solid #4CAF50;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.sub_menu a {
    display: block;
	margin-left: 100px;
    padding: 12px 16px;
	width: 150px;
    color: black;
    text-decoration: none;
}

.sub_menu a:hover {
	background-color: #f1f1f1
}

.menu_option:hover .sub_menu {
    display: block;
}

/* ********** ********** LOGGED IN MENU ********** ********** */

.logged_in {
       position: fixed;
       top: 0;
       right: 0;
       padding: 10px;
       width: 180px;
       background-color: #4CAF50;
       color: white;
       border-left: 2px solid #CCC;
       border-bottom: 2px solid #CCC;
}
.logged_in img {
       float: left;
       margin-right: 10px;
       width: 60px;
       border-radius: 50%;
       border: 2px solid #CCC;
}
.logged_in .message {
       font-size: 1.0em;
       margin-bottom: 5px;
       font-size: 1.15em;
       font-weight: bold;
}
.logged_in .name {
       height: 24px;
       line-height: 24px;
       font-size: 1.15em;
       font-weight: bold;
}
.logged_in .role {
       height: 15px;
       line-height: 15px;
}
