body {
	margin: 0px;
	padding: 0px;
	background-color: lightblue;
	background-image: url(#);
	font-size: 12px;
	color: #000;
}
h1 {
    margin-bottom: 25px;
    font-size: 1.5em;
}

/* ********** REGISTRATION AND LOGIN PAGES ********** */

.login_box, .registration_box, .registration_box_error, .registration_box_ok {
    margin: 0px auto;
    margin-top: 50px;
    padding: 20px;
    width: 300px;
    height: auto;
    border: 1px solid #000;
    background-color: #FFF;
    font-size: 1.0em;
    text-align: center;
    line-height: 1.3em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 25px 1px #666;
}
.login_box h1, .registration_box h1, .registration_box_error h1, .registration_box_ok h1 {
    margin: -20px -20px 25px -20px;
    padding: 20px 0px 15px 15px;
    border-bottom: 1px dotted #000;
    font-size: 1.5em;
    text-align: left;
}
.registration_box_error h1 {
    background-color: #FFB2B2;
    color: red;
}
.registration_box_ok h1 {
    background-color: #88E188;
    color: green;
}
.login_box a {
    text-decoration: none;
    color: #000;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.login_box a:hover {
    color: red;
}
.input_field {
    font-size: 1.0em;
}
.send_button {
    font-size: 1.0em;
}
.drop_down_button {
    font-size: 1.0em;
}

/* ********** MAIN SITE THEME ********** */

header {
    top: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #333;
}
header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
header li {
    float: left;
    height: 50px;
}
header li a {
    display: block;
    padding: 0px 15px 0px 15px;
    border-right: 1px solid #BBB;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    line-height: 50px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
header li:last-child {
    border-right: none;
}
header li a:hover {
    background-color: #4CAF50;
}

.content_frame {
    margin: 0px auto;
    padding: 60px 10px 10px 10px;
    width: 650px;
    height: auto;
    background-color: #FFF;
    border: 1px solid #000;
    box-shadow: 0px 0px 25px 1px #666;
}

/* ********** USER LIST ********** */

.user_list_table {
    width: 100%;
    border-collapse: collapse;
    line-height: 25px;
    font-size: 1em;
}
.user_list_table .header {
    border: 1px solid #999;
    background-color: #CCC;
    text-align: center;
    font-weight: bold;
}
.user_list_table .content {
    border-top: 1px dotted #000;
    background-color: #FFF;
    text-align: center;
}

/* ********** USER PROFILE ********** */

.user_profile_table {
    width: 100%;
    border-collapse: collapse;
    line-height: 25px;
    font-size: 1em;
}
.user_profile_table .content {
    border-top: 1px dotted #000;
    background-color: #FFF;
}
.user_profile_table .content:nth-child(1) {
    border-top: 0px;
}
.col-1 {
    width: 25%;
    font-weight: bold;
}

/* **********  ********** */

.recommended {
    color: red;
    font-weight: bold;
}
