body {
	margin: 0px;
	padding: 0px;
	background-color: lightblue;
	background-image: url(#);
	font-size: 12px;
	color: #000;
}
h1 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 1.5em;
    text-align: left;
}
.login_box, .registration_box {
    margin: 0px auto;
    margin-top: 100px;
    padding: 20px;
    width: 300px;
    height: auto;
    border: 1px solid #000;
    background-color: #FFF;
    font-size: 1.em;
    text-align: center;
    line-height: 1.3em;
    box-shadow: 0px 0px 25px 1px #666;
}
.login_box a {
    text-decoration: none;
    color: #000;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.login_box a:hover {
    color: red;
}
.input_field {
}
.send_button {
}
.drop_down_button {
}