body {
	margin: 0px;
	padding: 0px;
	background-color: #FFF;
	background-image: url(#);
	font-size: 12px;
	color: #000;
}

.login_box, .registration_box {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    margin: auto;
    /* this to solve "the content will not be cut when the window is smaller than the content": */
    max-width: 100%;
    max-height: 100%;
    overflow: auto;

    width: 300px;
    height: 200px;
    border: 1px solid #000;
    text-align: center;
    line-height: 1.3em;
    box-shadow: 0px 0px 30px 1px #333;
}
.login_box a {
    text-decoration: none;
    color: #000;
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.login_box a:hover {
    color: red;
}

.registration_box {
    height: 250px;
}